/*Home*/

.landing {
    position: relative;
    overflow: hidden;
    height: 80vh;
  }

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the full area */
    z-index: -1; /* Place the video behind the content */
}
  
  .content {
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: auto;
    color: var(--white);
    max-width: 600px;
    font-size: xx-large;
    font-weight:700;
    z-index: 1;
  }

  .landHead{
    color: var(--secondary)
  }


  @media (max-width: 767px) {
    .content {
      max-width: none;
      font-size: x-large;
    }
  }

  /*Order*/


  .orderBox{
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 12px;
    max-width: 450px;
  }

  .orderBox span{
    margin-left: 1rem;
    font-size: 1rem;
  }

  .orderBox svg{
    margin-left: 10px;
  }

  @media (max-width: 950px) {
    .orderBox svg {
      display: none;
    }

    .orderBox{
        transform: scale(80%);
    }

    .orderBox span{
        margin-left: 1.5rem;
      }
  }

  @media (max-width: 450px) {

    .orderBox{
        width: 400px;
        margin-left: -8%;
      }
    
      .orderBox span{
        margin-left: 1rem;
        font-size: 1rem;
      }
    
      .orderBox svg{
        margin-left: 10px;
      }
    
  
  }


  /*About*/

  .about {
    padding: 50px 0; 
  }
  
  .about img {
    max-width: 100%; 
    height: auto; 
  }
  
  .about h2 {
    margin-bottom: 4rem; 
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary);
  }
  
  .about p {
    margin-bottom: 0;
    font-size: 2rem;
  }

  .img-about{
    margin-left: -12px;
  }

  .about-section{
    background-image: url('../assets/customBG.svg');
    background-size: cover;
    background-position: center;
    height: 120vh;
  }

  @media (max-width: 767px) {
    .img-about{
      display: none;
    }

    .about{
      transform: scale(80%);
    }
  }

  @media (max-width: 450px) {
    .about{
      transform: scale(70%);
    }

    .about h2 {
      font-size: 3rem;
    }
    
    .about p {
      font-size: 1.5rem;
    }

    .about-section{
      height: 70vh;
    }
  }


  /*Services*/

  .services {
    padding: 50px 0; /* Adjust padding as needed */
  }

  .service-head h2{
    font-size:3rem;
    font-weight: 600;
    color: var(--primary);
  }
  
  .service-card {
    border: 1px solid rgb(207, 207, 207); /* Add border to the cards */
    padding: 25px; /* Add padding to the cards */
    margin: 10px; /* Add margin to the cards */
    text-align: center; /* Center the text */
    border-radius: 8px;
    -webkit-box-shadow: 0px 13px 300px 7px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 13px 300px 7px rgba(0,0,0,0.17);
    box-shadow: 0px 13px 300px 7px rgba(0,0,0,0.17);
  }
  
  .service-card img {
    max-width: 50px; /* Adjust the size of the logo */
    margin-bottom: 15px; /* Add space below the logo */
  }

  .service-card h3 {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .service-card p {
    margin: 15px 0;
    font-size: 0.8rem;
  }
  
  .service-card button {
    margin-top: 10px; /* Add space above the button */
  }

  @media (max-width: 450px) {
    .service-card p {
      max-width: 250px;
    }
  }


  /* Call to Action */

  .action-section{
    background-image: url('../assets/customBG2.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 10%;
  }

  .call-to-action-section {
    padding: 50px 0; /* Adjust padding as needed */;
  }
  
  .cta-container {
    border: 1px solid #ddd;
    padding: 50px; /* Adjust padding as needed */
    background-color: #f8f9fa; /* Light background color */
    margin-top: 20vh;
    border-radius: 8px;
    max-width: 750px; /* Set a maximum width for the call-to-action container */
    width: 100%; /* Ensure it takes full width up to max-width */
    transform: scale(130%);
  }
  
  .cta-heading {
    margin-bottom: 20px;
    font-size: 2.5rem; /* Large font size for heading */
  }
  

  .cta-span{
    color: var(--primary);
  }


  @media (max-width: 950px) {
    .order-now-wrapper {
      transform: scale(120%);
  }
  .cta-container {
    transform: scale(100%);
  }
  }
  
  @media (max-width: 750px) {
    .cta-container {
      max-width: none;
      transform: scale(100%);
    }

    .order-now-wrapper {
      transform: scale(120%);
  }
  }


  @media (max-width: 450px) {
    .order-now-wrapper {
      margin-left: 17vw;
      margin-right: auto;
      transform: scale(100%);
  }

  .cta-container {
    margin-top: 15vh;
  }

  }


  /* Footer */

  /* footer.css */
.footer {
  background-color: #F5F5FD;
  color: #222222;
  padding: 50px 0;
}

.footer-logo {
  max-width: 100px;
  color: var(--primary);
  margin-right: 15px;
}

.footer h5, .footer h6 {
  color: #222222;
}

.footer .social-links a {
  color: #222222;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer .social-links a:hover {
  color: #adb5bd;
}

.footer-column h6 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.footer-column ul {
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: #222222;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}




@media (max-width: 450px) {
  .footer-right {
    padding-top: 50px;
}

.footer-items{
  padding-top: 3rem;
}
}


/*ROTI*/

.Roti {
  padding: 50px 0;
  margin-top: -5rem; 
  background-image: url('../assets/rotiBG.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.roti-heading {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 20px;
}

.roti-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.floating-img {
  width: 50%; /* Adjust width to create spacing between images */
  display: flex;
  justify-content: center;
}

.floating-img img {
  max-width: 100%;
  height: auto;
}

.img2 {
  margin-top: -110px;
  margin-right: 160px;
  transform: scale(70%);
}

.img3 {
  margin-top: 150px;
  transform: scale(70%);
}

.img1 {
  margin-left: 80px;
  transform: scale(70%);

}

@media (max-width: 768px) {
  .floating-img {
      display: none;
  }

  .Roti {
    padding: 50px 0;
    margin-top: -5rem; 
    background-image: url('../assets/rotiBG.svg');
    background-size: cover;
    background-position: center;
    height: 80vh;
  }
}

/* catering */
.catering-page {
  padding: 50px 0; /* Add padding to the top and bottom of the page */
  background-color: #f8f9fa; 
  padding: 50px 0;
  margin-top: -5rem; 
  background-image: url('../assets/customBG.svg');
  background-size: cover;
  background-position: center;
  height: 140vh;
}

.catering-section {
  padding-top: 50px;
}

.catering-heading {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 20px;
  text-align: left;
}

.catering-text {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 100%; /* Limit width for better readability */
  color: #222222;
  text-align: left; /* Ensure paragraph text is aligned left */
}


.call-to-action-section-catering {
  padding: 50px 0; /* Adjust padding as needed */;
  margin-bottom: 10%;
}


@media (max-width: 768px) {
.catering-page {
  height: 165vh;
  }
}

/* Order */
.order-page {
  padding-top: 50px; /* Adds padding around the page */
  background-color: #FFE1C6;
  background-size: cover;
  background-position: center;
  height: auto;
}

.form-heading {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 20px;
  text-align: left; /* Left-align the heading */
}

.illustration {
  max-width: 80%; /* Adjust size of the illustration */
  height: auto;
  padding: 50px;
}

form {
  max-width: 100%;
}

@media (max-width: 768px) {
  .illustration {
      max-width: 80%; /* Adjust illustration size for mobile */
  }
}

/* tiffin */
.tiffin-page {
  padding-top: 50px; /* Add padding to the top and bottom of the page */
  background-color: #f8f9fa; 
  padding: 50px 0;
  background-image: url('../assets/customBG.svg');
  background-size: cover;
  background-position: center;
  height: 175vh;
}

.tiffin-paragraph {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #222222; /* Optional text color */
  text-align: left; /* Left-align paragraph */
}

/* Rectangular product container */
.product-container {
  background-color: #FCF0E5;
  border-radius: 15px;
  border: #AEAEAE solid 0.8px;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  align-items: center;
  transform: scale(80%);
}

.product-details {
  text-align: left; /* Align text to the left */
  padding: 50px;
}

.product-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 5rem;
  color: var(--primary);
}

.product-description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-left: 5rem;
  color: #222222;
}

/* Price options */
.price-container {
  background-color: #F5F5FD;
  padding: 15px;
  border-radius: 8px;
  margin-left: 5rem;
  max-width: 250px; /* Adjust width for smaller container */
}

.price-option {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--primary);
}

.price-option span {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}

/* Tiffin image */
.tiffin-image {
  max-width: 100%;
}

@media (max-width: 768px) {
  .product-title {
    margin-left: 0rem;
    text-align: center;
  }
  
  .product-description {
    margin-left: 0rem;
    text-align: center;

  }
  
  /* Price options */
  .price-container {
    text-align: center;
    margin-left: 3.2rem;
  }

  .tiffin-page {
    padding-top: 50px; /* Add padding to the top and bottom of the page */
    background-color: #f8f9fa; 
    padding: 50px 0;
    background-image: url('../assets/customBG.svg');
    background-size: cover;
    background-position: center;
    height: 250vh;
  }
}

/*Menu Component*/

.menu-section {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.product-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.product-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px; /* Adjust the size of the image */
  height: auto;
  border-radius: 5px;
}

.product-details {
  flex-grow: 1; /* Allow this div to take available space */
  text-align: left; /* Align text to the left */
}

.modal-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-left h3 {
  margin-bottom: 10px;
}

.modal-left p {
  margin-bottom: 20px;
}
